/* My Styles */

body {font-family: Helvetica, Arial, sans-serif; color: #404040; 
	font-size: 18px; width: 65%; margin-left: auto; margin-right:auto; 
	min-width:810px; max-width:1000px;}

h1, h2, h3, p {line-height:1.2;}
li {line-height: 1.4;}


a { text-decoration: none; }


header {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	padding: 20px 10px 10px;
    border-bottom: 1px solid #000000;
}


.topnav { font-size: 26px;
	overflow: hidden;
	font-weight: 100;
}

.topnav a {
	float: left; text-decoration: none; padding: 10px; color: #404040;
}
 
/*  
nav { font-size: 22px; }
*/


.topnav a.active {
  	color: dark grey;
}

.topnav a:hover {
	color: #02786e;
}

.topnav-right {	
	list-style-type: none;
	overflow: hidden;
	float: right;
}

.topnav-right a { 
	padding: 10px; font-size: 20px; color: #02786e; border-radius: 5px;
}

.topnav-right a.active {
  	color: #02786e;
  	font-weight: bold;
}

.topnav-right a:hover {
	background-color: #ddd; color: #02786e; 
}


/* nav li {  float: right; }

nav li a {
	display: block;
	text-align: center;
	text-decoration: none;}   */

/* nav li a:hover { backgroun-color: #111; } */

/*problem with the margin/padding here */
.self-prom {clear: both; margin-top: 40px; margin-bottom:40px;}

.title {
	text-align: center;
	font-size: 24px; 
	font-weight: bold;
	color: #02786e;
}

.img-circle-avatar {
	height: 220px; 
	margin-left: auto; 
	margin-right: 30px; 
	margin-top: 30px;
	margin-bottom: 105px;

	float: left; 
	border-radius: 50%;
}

.intro-1stline {
	padding-top: 20px;
	margin-bottom: 15px;
}



footer { padding: 20px; text-align: right; border-top: 1px solid #000000; 	
 }


.footerinfo p {
	float: left; text-decoration: none; font-size: 15px;
	margin: 10px;
	color: #404040;
	font-weight: bold;
}


.foot-right a { 
	font-size: 25px; padding: 0px 10px;
}


.foot-right a i:hover {
	color: #02786e; 
}

/*padding: 10px; */