/* My Styles */

body {font-family: Arial, sans-serif; color: Navy; font-size: 16px; padding-top: 20px; padding-bottom: 40px; margin: 40px; }

.main-navigation {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
