
<h2 class="work_title"> Honours & Awards (selected) </h2>
  <table >
    <tbody>
      <tr> 
        <td class="date"> Jul, 2019</td> 
        <td class="content"> <b> Neurohackademy Travel Award 2019 </b> delivered by <b> Neurohackademy</b>, eScience Institute, University of Washington (in Seattle, U.S.A.)  </td> 
      </tr>

      <tr> 
        <td class="date"> Jun, 2019 </td> 
        <td class="content"> <b> Travel Grant </b> awarded by <b>Guarantors of Brain </b> that sponsored my attendance at The Organization for Human Brain Mapping annual meeting 2019 (in Rome, Italy) </td> 
      </tr>

      <tr> 
        <td class="date"> Jun, 2017 </td> 
        <td class="content"> <b> Merit Abstract Award </b> delivered by <b> The Organization for Human Brain Mapping </b> that sponsored my presentation at their annual meeting 2017 (in Vancouver, Canada) </td> 
      </tr>

      <tr> 
        <td class="date"> Sep, 2016 </td> 
        <td class="content"> <b> British Neuropsychological Society Travel Bursary </b> that sponsored my participation in the 2016 Summer School of the Federation of the European Societies for Neuropscyhology (in Berlin, Germany) </td> 
      </tr>



      <tr> 
        <td class="date"> May - Jul, 2012 </td> 
        <td class="content"> <b> Universitas 21 PhD Travel Scholarship </b> awarded by <b>the University Graduate School, University of Birmingham</b>, that sponsored my research internship at Queensland Brain Institute of the University of Queensland (in Brisbane, Australia) </td> 
      </tr>


      <tr> 
        <td class="date"> 2011 - 2015 </td> 
        <td class="content"> <b> PhD Research Scholarship </b> awarded by <b>the University of Birmingham</b> that funded my doctoral study </td> 
      </tr>

      <tr> 
        <td class="date"> 2009 - 2010 </td> 
        <td class="content"> <b> Hong Kong Birmingham Postgraduate Study Scholarship </b> awarded by <b>the University of Birmingham</b> that funded my Masters degree study </td> 
      </tr>

    </tbody>
  </table>