
<h2 class="work_title">  Academic Publications & Presentations </h2>

  <h3 class="sub-work-title"> Recent Publications </h3>
  <table style="width:100%">
    <tbody>

      <tr> 
        <td class="pub"> <b> Lau, J.K.L. </b>, Ozono, H., Kuratomi, K., Komiya, A. & Murayama, K. (2020). Hunger for Knowledge: How the Irresistible Lure of Curiosity is Generated in the Brain. <i>Nature Human Behaviour, 4,</i> 531–543. <a href="https://www.nature.com/articles/s41562-020-0848-3" target="_blank" style="text-decoration: underline;"> https://doi.org/10.1038/s41562-020-0848-3 </a> </td> 
      </tr>


      <tr> 
        <td class="pub"> FitzGibbon, L., <b> Lau, J.K.L. </b> & Murayama, K. (2020). The seductive lure of curiosity: information as a motivationally salient reward. <i>Current Opinion in Behavioral Sciences, 35,</i> 21-27. <a href="https://doi.org/10.1016/j.cobeha.2020.05.014" target="_blank" style="text-decoration: underline;"> https://doi.org/10.1016/j.cobeha.2020.05.014 </a> </td> 
      </tr>


      <tr> 
        <td class="pub"> Ozono, H., Komiya, A., Kuratomi, K., Hatano, A., Fastrich, G., Raw, J.A.L., Haffey, A., Meliss, S., <b> Lau, J.K.L. </b> & Murayama, K. (2020). Magic Curiosity Arousing Tricks (MagicCATs): A novel stimulus collection to induce epistemic emotions. <i>Behavior Research Methods</i>. <a href="https://doi.org/10.3758/s13428-020-01431-2" target="_blank" style="text-decoration: underline;"> https://doi.org/10.3758/s13428-020-01431-2 </a> </td> 
      </tr>


      <tr> 
        <td class="pub"> Kajimura, S., Masuda, N., <b>Lau, J.K.L. </b> & Murayama, K. (2019). Focused attention meditation changes the boundary and configuration of functional networks in the brain. Preprint available at <i>bioRxiv</i>. <a href="https://doi.org/10.1101/664573" target="_blank" style="text-decoration: underline;"> https://doi.org/10.1101/664573 </a> </td> 
      </tr>

      <tr> 
        <td class="pub"> Chen, H., Pan, X., Bickerton, X-P., <b> Lau, J.K.L. </b>, Zhou, J., Zhou, B., Harris, L., & Rotshtein, P. (2019). Delineating the cognitive-neural substrates of writing: a large scale behavioral and voxel based morphometry study. <i>Scientific Reports, 9,</i> 1-19. <a href="https://doi.org/10.1038/s41598-019-55129-3" target="_blank" style="text-decoration: underline;"> https://doi.org/10.1038/s41598-019-55129-3 </a> </td> 
      </tr>
      
      
    </tbody>
  </table>

  <p> For an exhaustive list of all my publications, please refer to my <a href="https://scholar.google.com/citations?user=tnKoxtoAAAAJ&hl=en" target="_blank"> <i style="font-weight: bold; text-decoration: underline;"> Google Scholar </i></a>   or <a href="http://orcid.org/0000-0002-3958-5582" target="_blank"> <i style="font-weight: bold; text-decoration: underline;"> ORCID</i></a> profiles. </p>

  <br />