---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-url: "{{ site.baseurl }}";

$base-font-family: Helvetica, Arial, sans-serif, Charter, Georgia ;
$base-font-size: 15px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit: 30px;

$text-color: #111;
$text-hover-color: #02786e;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;

$main-green-color: #4e9985; 
$light-green-color: #32a197;
$dark-green-color: #2A403A;

$dark-main-orange-color: #eaaf07;

$white-color: #FFFFFF;

$grey-color: #828282;
$grey-color-light: #bfbfbf;
$grey-color-dark: darken($grey-color, 25%);

$on-mobile: 500px;
$on-laptop: 800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "site", "work", "projects", "blog", "post", "404";
