<!DOCTYPE html>
<html class="page-work">
  {% include head.html %}


  <body>
    {% include header.html %}


    <div class="page-content">
      <div class="wrapper">
        <div class="work">

          <div id="brainstill" style="text-align: center;">
            <img src="assets/img/brainstill.png" width=725px height=310px  style="padding:0; border:0;  margin: 10px auto;" />    <!-- width=850px height=360px -->
          </div>
        
            <p style="padding-top:10px;">  This is my brain. You can move around in it (if you are using a laptop to visit this page). It may tell you something more about me :D. </p>
            <br />
            


          <div class="work_section"> 
            <h1 class="page-heading">{{ page.sub_title1 }}</h1>
            {{ content }}
          </div>


          <div class="work_section"> 

            {% include publications.html %}

            {% include presentations.html %}
          </div>
          
          <div class="work_section"> 

            {% include honours.html %}
          </div>


        </div>
      </div>
    </div>




    {% include footer.html %}

    {% include foot.html %}

    <script async defer src="assets/js/brain_explore.js"></script>

  </body>
</html>
